* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
:root {
    --background-color: #d1cbcb85;
    --select-color1: #342e2e85;
    --select-color2: #9b9898c7;
    --select-color3: #6f6a6ac7;
    --select-color4: #3f2525;
    --select-color5: #3b3939;
    --answer-color1: #9aeabc;
    --answer-color2: #ff9393;
}
body {
    background: var(--background-color);
}

.app {
    background: var(--select-color2);
    max-width: 100vw;
    height: 70vh;
    margin: 10px auto 0;
    border-radius: 10px;
    padding: 80px 30px 0px;
}

.app h1 {
    font-size: 30px;
    color: var(--select-color1);
    font-weight: 800px;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 20px;
    color: var(--select-color3);
    font-weight: 600px;
}

.btn {
    background: #fff;
    color: var(--select-color4);
    font-weight: 500px;
    width: 100%;
    border: 1px solid var(--select-color4);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s;
}

.btn:hover:not([disabled]) {
    background: var(--select-color5);
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: var(--select-color3);
    color: #fff;
    font-weight: 500px;
    width: 150px;
    border: 0px;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: var(--answer-color1);
}

.incorrect {
    background: var(--answer-color2);
}